<div>
    <div>
        <ul class="nav">
            <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link" [routerLink]="['/accountsummary']">Account Summary</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link" [routerLink]="['/transfermoney']">Transfer Money</a>
            </li>
            <li *ngIf="!isLoggedIn" class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link" [routerLink]="['/logout']">Logout</a>
            </li>
        </ul>
    </div>
</div>