/* You can add global styles to this file, and also import other style files */
/* th {
    width: 200;
} */

@import './assets/bootstrap/css/bootstrap.min.css';

h3 {
    background-color: #b37e6a
}

body {
    padding: 15px;
}

tbody tr:hover {
    background-color: #BBF0F7;
}

label {
    width: 120px;
}