<div *ngIf="!isLoggedIn">
  <p>Please log in to access your accounts.</p>
</div>

<div *ngIf="isLoggedIn">
  <h3>Account Summary</h3>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Account Name</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts" class="medium-4 columns" (click)="transactionDetails(account)">
        <td><label>{{account.name}}</label></td>
        <td>{{account.balance | currency : 'USD' : 1.-2 }}</td>
      </tr>
    </tbody>
  </table>
</div>

<transaction-history *ngIf="selectedAccount" [account]="selectedAccount"></transaction-history>
