<div *ngIf="!isLoggedIn">
    <p>Please log in to access your accounts.</p>
</div>

<div *ngIf="isLoggedIn">
    <h3>Transfer Money Between Your Accounts</h3>

    <div *ngIf="accountsFrom" class="row small-12 columns">
        <div class="col-md-2">
            <label>From Account</label>
        </div>
        <div class="col-md-8">
            <select [(ngModel)]="selectedAccountFrom">
           <option *ngFor="let accountFrom of accountsFrom">
               {{accountFrom.name}}  ({{accountFrom.balance | currency: 'USD': 1.-2}})
            </option>
        </select>

        </div>
    </div>

    <div *ngIf="accountsTo" class="row small-12 columns">
        <div class="col-md-2">
            <label>To Account</label>
        </div>
        <div class="col-md-8">
            <select [(ngModel)]="selectedAccountTo">
            <option *ngFor="let accountTo of accountsTo">
                {{accountTo.name}}  ({{accountTo.balance | currency: 'USD': 1.-2}})
            </option>
        </select>
        </div>
    </div>

    <div *ngIf="accountsTo" class="row small-12 columns">
        <div class="col-md-2">
            <label>Transfer Amount</label>
        </div>
        <div class="col-md-8">
            <input type="number" min="1" placeholder="Enter Amount" id="transferAmount" [(ngModel)]="transferAmount" name="transferAmount"
                required #amt="ngModel">
            <div [hidden]="amt.valid || amt.pristine" class="alert alert-danger">
                Transfer amount required
            </div>
        </div>
    </div>

    <div class="row" small-12 columns>
        <div class="col-md-2">
            <label>Description</label>
        </div>
        <div class="col-md-8">
            <input type="text" placeholder="Enter Transfer Description" id="transferNote" [(ngModel)]="transferNote">
        </div>
    </div>

    <div class="small-12 columns">
        <div class="expanded button-group">
            <input [disabled]="!selectedAccountFrom || !selectedAccountTo || !transferAmount" type="button" (click)="confirmTransfer()"
                value="Transfer">

            <input type="button" (click)="cancelTransfer()" value="Cancel">
        </div>
    </div>



</div>